


@media screen and (min-width: 1024px) {
    body {
        color: white;
    
    }

    .h2-about {
        padding: 10%;
    }

    .h3-about {
        padding: 10%;
    }
    
    .main-article-container {
        padding: 10%;
    }
    
}