

@media screen and (min-width: 1024px) {
    .main-footer-container {
        margin-right: 0;
        margin-left: 0;
        height: 40vh;
        background-color: black;
        color: white;
        padding-left: 50px;
    }
}