@media screen and (min-width: 1024px) {
    .mainTeaser {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: white;
    }
    .mainTeaserContainer {
        width: 80%;
        height: 100vh;
        margin: 0 auto;
        border: solid 2px rgba(0, 0, 0, 0); /* bug bug bug bug bug bug bug bug bug bug */
    }
    .mainArticleDescription {
        margin: 50vh 0 35vh 0;
    }
    .main-h2-link {
        text-decoration: none;
        color: red;
        font-size: 22px;
    }
    .homeMainLink {
        text-decoration: none;
        border: solid 1px red;
        padding: 3px 15px 2px 15px;
        color: red;
    }
    .articleLink {}
    .arrow-down-symbol {
        font-size: 35px;
        margin: 120px 0 10px 0;
    }
    .main-teaser-image-wrapper {
        border: solid 2px black;
        width: 20%;
        margin: 20vh auto;
        height: 100%;
    }
    .main-logo-image {
        width: 100%;
    }
    .cover-image-wrapper {
        width: 50%;
        height: 170vh;
        margin: 0 auto;
    }
    .main-teaser-image {
        width: 100%;
    }
}