.mainTeaser {
    height: 100%;
}

.mainTeaserContainer {}

.mainTextContainer {
    width: 100%;
    text-align: center;
    margin: 20% auto;
}

.mainTitel {
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
}

.mainArticleDescription {
    padding-top: 10px;
    padding-bottom: 25px;
    color: white;
}

.homeMainLink {
    text-decoration: none;
    border: solid 1px white;
    padding: 3px 15px 2px 15px;
    color: white;
}

.mainTeaserImage {
    height: 100%;
}

@media screen and (min-width: 1024px) {
    .mainTeaser {
        height: 100%;
    }
    .mainTeaserContainer {
        display: flex;
    }
    .mainMediaContainer {
        width: 50%;
        height: auto;
    }
    .mainTextContainer {
        width: 50%;
        height: 100%;
    }
    .mainTeaserImage {
        width: 100%;
        height: 100%;
    }
    .main-teaser-image-wrapper {
        border: solid 2px white;
        width: 50%;
        margin: 0 auto;
    }
    .main-teaser-image {
        width: 100%;
    }
}