.main-header {}

.main-nav {
    background-color: black;
}

.main-logo {}

.main-nav-links {}

.main-titel {
    color: white;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link-work {}

@media screen and (min-width: 1024px) {
    .main-header {
        height: 35px;
        width: 100%;
        display: flex;
        position: fixed;
        padding-top: 10px;
    }
    .main-nav {
        display: flex;
        padding-top: 5px;
        width: 100%;
        height: 100%;
    }
    .main-logo {
        width: 80%;
    }
    .main-nav-links {
        width: 20%;
    }
    .main-titel {
        padding-left: 20px;
    }
    .nav-link {
        margin-left: 20px;
        font-size: 18px;
    }
    .nav-link:hover {
        border-bottom: 2px solid white;
    }
    .nav-link-work {
        margin: 0 auto;
    }
    .nav-link-work:hover {
        border-bottom: 2px solid white;
    }
}