.c-page-window-1 {}

.c-sub-page-window-1 {}

.c-sub-page-window-2 {}

.c-page-window-2 {}

.c-sub-page-window-3 {}

.c-sub-page-window-4 {}

.images-windows-special-case {}

@media screen and (min-width: 1024px) {
    .c-page-window-1 {
        width: 100%;
        height: 70%;
    }
    .c-sub-page-window-1 {
        height: 45%;
        width: 40%;
        border: solid 2px black;
        border-top: none;
        margin: 20px;
    }
    .c-sub-page-window-2 {
        height: 45%;
        width: 30%;
        border: solid 2px black;
        margin: 20px;
    }
    .c-page-window-2 {
        width: 100%;
        height: 30%;
        display: flex;
    }
    .c-sub-page-window-3 {
        height: 98%;
        width: 30%;
        border: solid 2px black;
        border-bottom: none;
        margin-left: 20px;
    }
    .c-sub-page-window-4 {
        height: 80%;
        width: 60%;
        border: solid 2px black;
        margin-left: 20px;
    }
    .images-windows-special-case {
        background-image: url("../images/galaxy.jpg");
        width: 100%;
        background-position: 50% 50%;
    }
}