.main-page-container-1 {
    background-color: #fdfdb0;
    margin: 0 auto;
}

.a-page-window-1 {}

.images-windows {
    height: 100%;
    width: 100%;
}

.a-page-window-2 {}

.a-sub-page-window-1 {
    border: solid 2px black;
    border-left: none;
}

.a-sub-page-window-2 {
    border: solid 2px black;
}

@media screen and (min-width: 1024px) {
    .main-page-container-1 {
        height: 900px;
        width: 50%;
    }
    .a-page-window-1 {
        width: 100%;
        height: 40%;
    }
    .a-page-window-2 {
        width: 100%;
        height: 50%;
        display: flex;
    }
    .a-sub-page-window-1 {
        width: 40%;
        height: 100%;
        margin: 0px 10px 10px 0px;
    }
    .a-sub-page-window-2 {
        width: 60%;
        height: 100%;
        margin: 0px 10px 10px 10px;
    }
}