@media screen and (min-width: 1024px) {
    .g-page-window-1 {
        border-bottom: solid 2px black;
    }
    /* .images-windows-special-case-page-4 {
        background-image: url("../images/9.jpg");
        width: 100%;
        height: 93%;
        background-position: 50% 50%;
    } */
    .images-windows-page-4 {
        height: 140vh;
        width: 100%;
    }
}