@import "nav.css";
@import "main-teaser.css";
@import "page-1.css";
@import "page-2.css";
@import "page-3.css";
@import "page-4.css";
@import "page-5.css";
@import "page-6.css";
@import "footer.css";
@import "about.css";
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.932);
  scroll-behavior: smooth;
}

@media screen and (min-width: 1024px) {
}

/* GAEL-SRC.GITHUB.IO */
.gael-src-link {
  color: white;
  border: solid 1px white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  padding: 5px 10px;
  margin: 15px;
}
.gael-src-link:hover {
  color: black;
  background-color: white;
}
.gael-src-link-wrapper {
  min-height: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
